body
{
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #01937C;
}

.heading
{
  padding: 5%;
  background-color: #B3E283;
  font-size: 10rem;
  color: #01937C;
}

.container
{
  margin: 0;
 text-align: center;
 background-color: #01937C;
}

.person1
{
  width: 100%;
}

 .person2
 {
   width: 100%;
 }
